#requiredClasses{
    width: 25%;
	float: left;
}

#electiveClasses{
    width: 25%;
	float: left;
    padding-left: 2cm;
}

#scienceClasses{
    width: 25%;
    float: left;
    padding-left: 2cm;
}

#chosenClasses{
    width: 90%;
    float: none;
}

.classList{
    width: 100%;
}

select{
    width: 100%;
}

.rippleButton{
    position: relative;
    background-color: black;
    border: none;
    font-size: 28px;
    color: #FFCC00;
    padding: 10px;
    width: 100%;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.rippleButton:after {
    content: "";
    background: gray;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.rippleButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

div.identification{
    width: 100%;
}

div.classSelectList{
    width: 100%;
}

#textfield{
    width: 100%;
}

h2{
    text-align: center;
}