h1, h2{
	text-align: center;
}

#req, #elec, #science{
	text-align: center;
}

ul{
	text-align: center;
	padding: 0;
	margin: 0;
}

li{
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

p{
	border: dashed black;
	border-width: thin;
	max-width: 30%;
	margin: auto;
	

}

hr{
	max-width: 50%;
}